

@font-face {
    font-family: 'la_unicaregular';
    src: url('../typo/launica-webfont.eot');
    src: url('../typo/launica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typo/launica-webfont.woff') format('woff'),
         url('../typo/launica-webfont.ttf') format('truetype'),
         url('../typo/launica-webfont.svg#la_unicaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleoregular';
    src: url('../typo/Aleo-Regular-webfont.eot');
    src: url('../typo/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typo/Aleo-Regular-webfont.woff') format('woff'),
         url('../typo/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../typo/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleobold';
    src: url('../typo/Aleo-Bold-webfont.eot');
    src: url('../typo/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typo/Aleo-Bold-webfont.woff') format('woff'),
         url('../typo/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../typo/Aleo-Bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}





