
/* #DESKTOP 
================================================== */

    /* Note: Ecran plus grand que 959px */

    @media only screen and (min-width: 959px){
        .container                                  { width: 960px; margin: auto;}
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 40px; display: inline-block;}
        .container .two.columns                     { width: 100px; display: inline-block;}
        .container .three.columns                   { width: 160px; display: inline-block;}
        .container .four.columns                    { width: 220px; display: inline-block;}
        .container .five.columns                    { width: 280px; display: inline-block;}
        .container .six.columns                     { width: 340px; display: inline-block;}
        .container .seven.columns                   { width: 400px; display: inline-block;}
        .container .eight.columns                   { width: 460px; display: inline-block;}
        .container .nine.columns                    { width: 520px; display: inline-block;}
        .container .ten.columns                     { width: 580px; display: inline-block;}
        .container .eleven.columns                  { width: 640px; display: inline-block;}
        .container .twelve.columns                  { width: 700px; display: inline-block;}
        .container .thirteen.columns                { width: 760px; display: inline-block;}
        .container .fourteen.columns                { width: 820px; display: inline-block;}
        .container .fifteen.columns                 { width: 880px; display: inline-block;}
        .container .sixteen.columns                 { width: 940px; display: inline-block;}

        .container .one-half.column                { width: 458px; display: inline-block;}

        .container .one-third.column                { width: 297px; display: inline-block;}
        .container .two-thirds.column               { width: 620px; display: inline-block;}
        .container .one-four.column                 { width: 217px; display: inline-block;}
        .container .thirds-four.column              { width: 699px; display: inline-block;}

        
    }



/* iPads (portrait and landscape) 
================================================== */

        @media only screen and (min-width : 768px) and (max-width : 959px) {

            .container                                  { width: 768px; margin: auto;}
            .container .column,
            .container .columns                         { margin-left: 10px; margin-right: 10px; }
            .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
            .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
            .alpha.omega                                { margin-left: 0; margin-right: 0; }

            .container .two.columns                     { width: 76px; display: inline-block;}
            .container .four.columns                    { width: 172px; display: inline-block;}
            .container .six.columns                     { width: 268px; display: inline-block;}
            .container .eight.columns                   { width: 364px; display: inline-block;}
            .container .ten.columns                     { width: 460px; display: inline-block;}
            .container .twelve.columns                  { width: 556px; display: inline-block;}
            .container .fourteen.columns                { width: 652px; display: inline-block;}
            .container .sixteen.columns                 { width: 748px; display: inline-block;}

            .container .one-half.column                { width: 362px; display: inline-block;}

            .container .one-third.column                { width: 233px; display: inline-block;}
            .container .two-thirds.column               { width: 492px; display: inline-block;}
            .container .one-four.column                 { width: 169px; display: inline-block;}
            .container .thirds-four.column              { width: 556px; display: inline-block;}
    }








/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px;  margin: auto; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        

    }


